<h1>About Us</h1>
<p>
  The Microbloggin app is a Ruby on Rails application created as a project to learn RoR
  by <a href="http://maazkhan.com/">Maaz Khan</a>. This
  is the sample application found in Michael Hartl's book.
</p>