<div class="center">
<h1>Welcome to the Microblogging App</h1>

<p>This is the home page for the Microblogging app made in Ruby on Rails</p>
<p><%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %></p>
</div>
