<footer class="footer">
  <small>
    Microbloggin app by <%= link_to "Maaz Khan", "http://maazkhan.com" %>

  </small>
  <small>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "About",   about_path %></li> 
      
    </ul>
  </small>
</footer>